@import '../styles/mixin';

:global(body) {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.ul {
  display: flex;
  justify-content: space-between;
}

.nav {
  text-align: center;

  > .ul {
    padding: 4px 16px;
  }
}

.li {
  display: flex;
  padding: 6px 8px;
}

.a {
  @include vertical-center();

  color: #067df7;
  font-size: 13px;
  text-decoration: none;
}
