:global {
  .hero {
    width: 100%;
    color: #333;
  }
  .title {
    width: 100%;
    margin: 0;
    padding-top: 80px;
    font-size: 48px;
    line-height: 1.15;
  }
  .title,
  .description {
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 880px;
    margin: 80px auto 40px;
  }
  .card {
    width: 220px;
    padding: 18px 18px 24px;
    color: #434343;
    text-align: left;
    text-decoration: none;
    border: 1px solid #9b9b9b;

    :hover {
      border-color: #067df7;
    }

    h3 {
      margin: 0;
      color: #067df7;
      font-size: 18px;
    }

    p {
      margin: 0;
      padding: 12px 0 0;
      color: #333;
      font-size: 13px;
    }
  }
}
